@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background-image: linear-gradient(to top, #e4ebfa 0%, #e6effc 100%);
    margin: 2% auto;
    padding: 5px;
}
.box-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.material-icons{
    color: #2678d1;
}
.material-icons:hover{
    color: #a0db34;
}
.logo{
    height: 90px;
}
.menu-cabecalho{
    display: flex;
    gap: 30px;
}
.conteudo{
    margin: 0 5% auto;
    padding: 2%;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-titulo{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #2678d1;
    margin-top: 10px;
    display: flex;
}
.main-subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.main-botao{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
    width: 130px;
    height: 40px;
    margin-top: 20px;
    border-radius: 35px 2px;
    cursor: pointer;
    border: none;
    box-shadow: 4px 5px 4px #33343586;
    font-size: 15px;
    color: #b8d7dd;
    font-family: Arial, Helvetica, sans-serif;
}
.main-botao:hover{
    color: rgb(253, 255, 254);
}

.main-foto{
    width: 130px;
    border-radius: 15px;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 50px;
    justify-content: center;
}
.conteudo-secundario-titulo{
    border-top: 5px solid #a0db34;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #2678d1;
}
.conteudo-secundario-p{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rodape{
    margin-top: 5px;
    padding-top: 15px;
    border-top: 2px solid #a0db34;

}
.rodape h5{
    display: flex;
    align-items: center;
    justify-content: center;
}

strong{
    color: rgb(129, 199, 64);
    font-size: 17px;
}

